services:

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - gateway-service
    networks:
      - pong-network
    volumes:
      - ./frontend:/app
      - /app/node_modules # Anonymous volume preserves container-built node_modules for hot-reload

  gateway-service:
    build:
      context: ./services/gateway-service
      dockerfile: Dockerfile
    container_name: gateway-service
    ports:
      - "3000:3000"
    depends_on:
      - game-service
    networks:
      - pong-network
    volumes: #REMOVE FOR production
      - ./services/gateway-service:/gateway-service
      - /gateway-service/node_modules # Anonymous volume preserves container-built node_modules for hot-reload

  game-service:
    build:
      context: ./services/game-service
      dockerfile: Dockerfile
    container_name: game-service
    ports:
      - "5002:5000"
      - "5001:5001"
    env_file:
      - .env
    networks:
      - pong-network
    healthcheck:
      test: ["CMD", "curl", "-f","http://localhost:5000/test/status"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 10s
    volumes: #REMOVE FOR production
      - ./services/game-service:/game-service
      - /app/node_modules

  user-service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - blockchain-service
    networks:
      - pong-network
    volumes:
      - ./services/user-service:/user-service
      - /user-service/node_modules

  blockchain-service:
    build:
      context: ./services/blockchain-service
      dockerfile: Dockerfile
    container_name: blockchain-service
    # NO PORTS - this is a library service
    env_file:
      - .env
    networks:
      - pong-network
    volumes:
      - ./services/blockchain-service:/blockchain-service
      - /blockchain-service/node_modules
    environment:
      - NODE_ENV=development
      # No PORT needed
  ai-service:
    build:
      context: ./services/AI-service
      dockerfile: Dockerfile
    container_name: AI-service
    ports:
      - "5100:5100"
    networks:
      - pong-network

networks:
  pong-network:
