services:
  traefik:
    image: traefik:v2.10
    container_name: ReverseProxy_traefik
    ports:
        - "${TRAEFIK_HTTP_PORT}:80"
        - "${TRAEFIK_HTTPS_PORT}:443"
        - "${TRAEFIK_DASHBOARD_PORT}:8080"

    volumes:
        # Static config
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
        # Dynamic configs
      - ./traefik/dynamic:/etc/traefik/dynamic:ro
        # TLS certificates (self-signed for dev)
      - ./traefik/certs:/etc/traefik/certs:ro
    
    networks:
      - pong-network

    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend

    expose:
      - "5173"
    networks:
      - pong-network
  gateway-service:
    build:
      context: ./services/gateway-service
      dockerfile: Dockerfile
    container_name: gateway-service
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - JWT_SECRET=${JWT_SECRET:-}
    expose:
      - "3000"
    networks:
      - pong-network
    healthcheck:
      test: ["CMD", "curl", "-f","http://localhost:3000/test/status"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 10s

  game-service:
    build:
      context: ./services/game-service
      dockerfile: Dockerfile
    container_name: game-service
    expose:
      - "5000"
      - "5001"
      - "5002"
      - "5005"
      - "5006"
    env_file:
      - .env
    environment:
      - MATCH_HISTORY_SERVICE_TOKEN=${MATCH_HISTORY_SERVICE_TOKEN}
    networks:
      - pong-network
    healthcheck:
      test: ["CMD", "curl", "-f","http://localhost:5000/test/status"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 10s

  user-service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user-service
    expose:
      - "8000"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - MATCH_HISTORY_SERVICE_TOKEN=${MATCH_HISTORY_SERVICE_TOKEN}
    depends_on:
      - blockchain-service
    networks:
      - pong-network
    volumes:
      - user-service-db:/user-service/data

  blockchain-service:
    build:
      context: ./services/blockchain-service
      dockerfile: Dockerfile
    container_name: blockchain-service
    env_file:
      - .env
    networks:
      - pong-network
    environment:
      - NODE_ENV=development
  ai-service:
    build:
      context: ./services/AI-service
      dockerfile: Dockerfile
    container_name: AI-service
    expose:
      - "5100"
    env_file:
      - .env
    networks:
      - pong-network
    healthcheck:
      test: ["CMD", "curl", "-f","http://localhost:5100/api/v1/aibot/test/status"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 10s

volumes:
     user-service-db:

networks:
  pong-network:
